body {
    margin: 0;
    padding: 0.5rem;
    background: linear-gradient(116deg, rgba(165, 228, 161, 0.685), rgba(159, 206, 224, 0.426), rgba(208, 228, 152, 0.226), transparent);
    color: aliceblue;
    font-family: 'Arial', 'AdorshoLipi', sans-serif;
}

#main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 60vh;
    background: aliceblue;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.38);
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.heading h2 {
    color: dodgerblue;
    margin: 5px;
}

.date {
    width: 100%;
}

#datepicker {
    width: 100%;
    padding: 0.4rem 0.5rem;
    border-radius: 6px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

#output {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85px;
    padding: 8px;
    background: #eda888;
    border-radius: 8px;
    line-height: 1.5;
}

.text {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
}

@media (max-width: 768px) {
    .mc-display {
        display: none !important;
    }
}

.mc-calendar--modal.mc-calendar--opened {
    top: 5vh;
    transform: translate(-50%, 0);  
    height: 50vh;
}